body{
    margin:0px;
    padding:0px;
}
p{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'UTMFrenchVanilla';
    src: url('../fonts/UTMFrenchVanilla.eot');
    src: url('../fonts/UTMFrenchVanilla.eot') format('embedded-opentype'),
         url('../fonts/UTMFrenchVanilla.woff2') format('woff2'),
         url('../fonts/UTMFrenchVanilla.woff') format('woff'),
         url('../fonts/UTMFrenchVanilla.ttf') format('truetype'),
         url('../fonts/UTMFrenchVanilla.svg#UTMFrenchVanilla') format('svg');
}
@font-face {
    font-family: 'UTMBustamalaka';
    src: url('../fonts/UTMBustamalaka.eot');
    src: url('../fonts/UTMBustamalaka.eot') format('embedded-opentype'),
         url('../fonts/UTMBustamalaka.woff2') format('woff2'),
         url('../fonts/UTMBustamalaka.woff') format('woff'),
         url('../fonts/UTMBustamalaka.ttf') format('truetype'),
         url('../fonts/UTMBustamalaka.svg#UTMBustamalaka') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'SFUJamaicaRegular';
    src: url('../fonts/SFUJamaicaRegular.eot');
    src: url('../fonts/SFUJamaicaRegular.eot') format('embedded-opentype'),
         url('../fonts/SFUJamaicaRegular.woff2') format('woff2'),
         url('../fonts/SFUJamaicaRegular.woff') format('woff'),
         url('../fonts/SFUJamaicaRegular.ttf') format('truetype'),
         url('../fonts/SFUJamaicaRegular.svg#SFUJamaicaRegular') format('svg');
}


img{max-width:100%;}

@mixin ulmenu(){margin:0px;padding:0px;list-style:none;}
@mixin transition($s){transition: all $s;-webkit-transition: all $s;-o-transition: all $s;-moz-transition: all $s;}

.clear{clear: both;}
.clearfix:after{ content:'';clear: both;display: block;}

.header{background: #fff;width: 100%;padding-top: 25px;padding-bottom: 50px;}

.center{width:1200px;margin: 0 auto;}

#logo, #header-title, #header-hotline{ float:left;}

#logo{width:235px;}

#header-title{ width:680px;text-align: center;
    p:first-child{
        font-family: 'UTMFrenchVanilla';color: #FA0000;font-size: 46px;
    }
    p:last-child{
        font-family: 'UTMBustamalaka';color: #000;font-size: 26px;
    }
}

#header-hotline{
    width: 285px;
    background: url(../images/hotline.png) no-repeat top left;
    height: 74px;
    padding: 20px 10px 10px 80px;
    box-sizing: border-box;
    color:#F47321;
    font-size: 16px;
    font-weight: bold;
}

.menu{ width:1140px;margin:-33px auto -17px auto; background: #FF0F0F;position: relative;z-index:999;
    ul{ @include ulmenu();
        li{ float:left;padding:0px 15px;
            a{
                color:#fff;font-size:16px;font-family: 'RobotoRegular';text-transform: uppercase;
                text-decoration: none;
                line-height: 49px;
            }
            &:last-child{float:right;}
        }
     
        .box-search{ margin-top:12px;
            input[type="text"]{
                background: #fff;
                width:155px;
                float:left;
                height:24px;
                border:0px;
                border-radius:10px 0px 0px 10px;
                padding-left:5px;
            }
            input[type="submit"]{
                width:45px;
                height:35px; 
                float:left;
                background:url('../images/menu_search.png') no-repeat;
                border:0px; 
                margin: -4px 0px 0px -15px;
            }
        }
    }
    .line-menu{
       float:left; 
       width:13px;
       height:49px;
       background: url('../images/menu_line.png') no-repeat center center;
       padding:0px;
    }
    
    &:after{
        content:'';
        position: absolute;
        top:0px;
        left:-50px;
        background: url('../images/menu_left.png');
        width:50px;
        height:49px;
    }
    &:before{
        content:'';
        position: absolute;
        top:0px;
        right:-46px;
        background: url('../images/menu_right.png');
        width:46px;
        height:49px;
    }
}
.amazingslider-box-1 > div:nth-of-type(3){ 
    width: 0px;
    height: 0px;
    overflow: hidden;
    background: transparent;
    opacity: 0 !important;
} /* Hidden Key */


.container-danhmucnoibat{ padding:25px 0px; background: #F2F2F2;
    .item-danhmucnoibat{
        width:380px; height:235px; float:left; margin-right:20px; position: relative;
        img{
            width:100%;
            height:235px;
        }
    }
    .name-dmnb{
        position: absolute; bottom:10px; left:0px; width:100%; text-align: center;
        a{
            color:#fff;
            font-size:24px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            transition:all 0.5s;
            -o-transition:all 0.5s;
            -webkit-transition:all 0.5s;
            -moz-transition:all 0.5s;
            &:hover{
                color:green;
            }
        }
    }
    .owl-carousel  .owl-prev{
        position: absolute;
        top:calc(50% - 25px);
        left:-25px;
        background: url('../images/pre.png') no-repeat;
        width:50px;
        height:50px;
    }
    .owl-carousel  .owl-next{
        position: absolute;
        top:calc(50% - 25px);
        right:-25px;
        background: url('../images/next.png') no-repeat;
        width:50px;
        height:50px;
    }
}

.container-productnb{ padding: 30px 0px;background: #F2F2F2;}
.box-product{
    .item-product{
        width:280px;
        background: #fff;
        float:left;
        margin:0px 25px 25px 0px;
        border: 1px solid #dbdbdb;
        box-sizing: border-box;
        .img-product{
            width: 100%;
            position: relative;
            img{
                width:100%;
                height:205px;
            }
            .news-icon{
                position: absolute;
                top:5px;
                left:5px;
                background: url('../images/ico_news.png');
                width:49px;
                height: 56px;
            }
        }
        .name-product{
            text-align: center;
            padding:3px 0px;
            a{
                font-family: 'RobotoRegular';
                font-size: 18px;
                color:#2c2c2c;
                text-decoration: none;
                @include transition(0.5s);
                &:hover{
                    color:red;
                }
            }
        }
        .price-product{
            ul{ 
                margin:0px;
                padding:0px;
                list-style:none;
                li{
                    width:calc(100% / 3);
                    float:left;
                    text-align: center;
                    &:first-child{
                        color:red;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    &:nth-child(2){
                        text-decoration: line-through;
                        color:#676767;
                        font-size: 16px;
                    }
                    &:last-child{
                        span{
                            background: #F5989D;
                            color:#fff;
                            border-radius: 5px;
                            padding:3px 7px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .addtocart{
            text-align: center;
            a{
                color: #555;
                background: url(../images/cart.png) no-repeat left 10px center;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 5px 10px 5px 32px;
                display: inline-block;
                margin: 10px 0px;
                text-decoration: none;
                font-size: 14px;
                @include transition(0.5s);
                &:hover{
                    border:1px solid #f5989d;
                    color:red;
                }
            }
        }
        &:nth-of-type(4n){margin-right:0px;}
        &:nth-of-type(4n+1){clear:both;}
    }
}
.container-productlist{
    margin-top:30px;
}
.title-index{
    text-align: center;
    display: block;
    position: relative;
    margin-bottom:30px;
    &:after{
        content:'';
        position: absolute;
        top:50%;
        left:0px;
        width:100%;
        background: #DBDBDB;
        height: 1px;
        z-index: -1;
    }
    span{
        font-family: 'UTMFrenchVanilla';
        color:#000;
        font-size:42px;
        display: inline-block;
        background: #fff;
        z-index: 1;
        position: relative;
        padding:0px 15px;
    }
}

.footer{
    background: url('../images/footer_bg.png') no-repeat;
    background-size: 100% 100%;
    padding:30px 0px;
    .footer-item{
        float:left;
        &:first-child{
            width:35%;
            margin-right:3%;
        }
        &:nth-child(2){
            width:30%;
        }
        &:last-child{
           float:right;
           width:30%;
        }
    }
    .title-footer2{
        color:#fff;
        text-transform: uppercase;
        font-size: 18px;
        font-family:"Arial";
        margin-bottom: 20px;
        font-weight: bold;
    }
    .box-dangkynhantin{
        input[type="text"]{
            height: 35px;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.3);
            border:1px solid #fff;
            margin-bottom:5px;
            padding-left:10px;
            width:100%;
            box-sizing: border-box;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
            }
            &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
            }
            &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
            }
            &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
            }
        }
        input[name="sodienthoai"]{
            width:49%;
            float:left;
        }
        input[name="email"]{
            width:49%;
            float:right;
        }
        input[name="noidung"]{
            float:left;
            width:calc(100% - 110px);
        }
        input[type="button"]{
            width:100px;
            height:35px;
            float:right;
            background:#FF0F0F;
            color:#fff;
            border:0px;
            text-transform: uppercase;
            font-size: 16px;
            border-radius: 5px;
            border:1px solid #fff;
        }
    }

    .title-footer{
        color:#000;
        text-transform: uppercase;
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: bold;
        font-family: 'SFUJamaicaRegular';
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        box-sizing: border-box;
        span{
            color:red;
        }
    }

    .box-address{
        ul{
            margin:0px;padding:0px;list-style: none;
            li{
                width: 100%;
                margin-bottom: 10px;
                color: #fff;
                font-size: 16px;
                font-family: Arial;
                padding-left: 31px;
                line-height: 25px;
                font-weight: bold;
                &:nth-child(1){
                    background: url('../images/footer_diachi.png') no-repeat left top;
                }
                &:nth-child(2){
                    background: url('../images/footer_dienthoai.png') no-repeat left top;
                }
                &:nth-child(3){
                    background: url('../images/footer_email.png') no-repeat left top;
                }
                &:nth-child(4){
                    background: url('../images/footer_website.png') no-repeat left top;
                }
            }
        }
    }

    .box-connect{ margin-top:20px;
        ul{ @include ulmenu();
            li{
                float:left;margin-right:10px;
                @mixin transition($s){transition: all $s;
                    -webkit-transition: all $s;
                    -o-transition: all $s;
                    -moz-transition: all $s;}
                
                img{ @include transition(0.5s);
                    &:hover{
                        transform: rotateY(360deg);
                        -webkit-transform: rotateY(360deg);
                        -o-transform: rotateY(360deg);
                        -moz-transform: rotateY(360deg);
                    }
                }
            }
        }
    }

}

.box-construction-news{ 
    background: #F2F2F2;
    padding:30px 0px;
    .box-construction{
        width:550px;
        float:left;
        .construction-left{
            float:left;
            width: 400px;
            img{
                height: 290px;
            }
        }
        .construction-right{
            float:right;
            width:140px;
            height: 290px;
            overflow-y: scroll;
            ul{
                @include ulmenu();
                li{
                    margin-bottom:10px;
                }
            }
        }
        #style-3::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgb(180, 180, 180);
            box-shadow: inset 0 0 6px rgb(180, 180, 180);
            background-color: #F5F5F5;
        }
        #style-3::-webkit-scrollbar
        {
            width: 3px;
            background-color: #F5F5F5;
        }
        #style-3::-webkit-scrollbar-thumb
        {
            background-color: red;
        }
    }
    .box-news{
        width: 580px;
        float:right;
        height: 290px;
    }
    .title-construction-new{
        font-family: 'UTMFrenchVanilla';
        color: #000;
        font-size: 38px;
        position: relative;
        margin-bottom:20px;
        &:after{
            content:'';
            position: absolute;
            bottom:-5px;
            left:0px;
            width:100px;
            height:1px;
            background: red;
        }
    }
}

.container-new{
    overflow-y: scroll;
    height: 290px;
    padding-right:5px;
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgb(180, 180, 180);
        box-shadow: inset 0 0 6px rgb(180, 180, 180);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar
    {
        width: 3px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: rgb(2, 120, 255);
    }
}
.box-item-news{
    padding-left:20px;
    margin-bottom:15px;
    .item-news-pic{
        width:205px;
        height:135px;
        float:left;
        position: relative;
        .item-news-date{
            position: absolute;
            top: calc(50% - 35px);
            left: -20px;
            background: #fff;
            border: 1px solid #ccc;
            text-align: center;
            padding: 5px 3px;
            font-size: 14px;
            p:nth-child(1),p:nth-child(3){
                font-weight: bold;
            }
        }
    }
    .item-news-info{
        width:calc(100% - 220px);
        float:right;
        h3{ display: block;
            margin:0px 0px 5px 0px;
            a{
                color:#000; font-weight: bold; font-size: 16px;text-decoration: none;
                @include transition(0.5s);
                &:hover{
                    color:blue;
                }
            }
        }
        p{
            font-size: 14px; line-height: 20px;text-align: justify;
        }
        span{ 
            float:left; margin-top:10px;
            a{
                color:red; text-decoration: none; font-size: 13px;
                @include transition(0.5s);
                &:hover{
                    color:blue;
                }
            }
        }
    }
}